.clouds{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clouds img {
    height: 60%;
}

.cloud1 {
    position: absolute;
    bottom: 0;
    max-width: 100%;    
    animation: animate 16s linear infinite;
}

.cloud2 {
    position: absolute;
    bottom: 0;
    max-width: 100%;    
    animation: animate 16s linear infinite;
}

.cloud3 {
    position: absolute;
    bottom: 0;
    max-width: 100%;    
    animation: animate 16s linear infinite;
}

.cloud4 {
    position: absolute;
    bottom: 0;
    max-width: 100%;    
    animation: animate 16s linear infinite;
}

.cloud5 {
    position: absolute;
    bottom: 0;
    max-width: 100%;    
    animation: animate  16s linear infinite;
}

@keyframes animate {
    0%
    {
        transform: translateX(-100%);
    }
    100% 
    {
        transform: translateX(100%);
    }
}